# --- Superseedr Config ---
# Ignore the local environment file
.env

# --- macOS ---
.DS_Store

# --- Editor Specific ---
# Ignore VSCode workspace settings
.vscode/

# --- Rust / Cargo ---
# Ignore build artifacts
/target/
rust-toolchain

# --- VPN Credentials ---
# Block these sensitive filenames ANYWHERE they appear
auth.txt
superseedr.ovpn
wg0.conf

# BUT, explicitly UN-ignore (with '!') the template files
!auth.txt.example
!superseedr.ovpn.example
!wg0.conf.example

# --- Safety Net ---
# Ignore common torrent/media files ANYWHERE in the repo
# in case of accidental downloads to the project root.
*.mkv
*.mp4
*.avi
*.mov
*.flv
*.iso
*.img
*.zip
*.rar
*.7z
*.tar
*.gz
*.nfo
