# This is an example file.
# To use, copy this file to 'gluetun.env' in this same directory and fill in your values.
# For superseedr configurations checkout .env.example

# -----------------------------------------------------------------
# Gluetun VPN Configuration
# -----------------------------------------------------------------
#
# See Gluetun docs for all provider-specific settings:
# https://github.com/qdm12/gluetun-wiki/tree/main/setup/providers
#
# -----------------------------------------------------------------

# --- General Features ---
DNS_SERVER=on

# Automatic port forwarding for providers (PIA, ProtonVPN, ...) that support it. To configure static ports, update .env.
VPN_PORT_FORWARDING=on
VPN_PORT_FORWARDING_UP_COMMAND=/bin/sh -c "echo {{PORTS}} > /tmp/gluetun/forwarded_port"
VPN_PORT_FORWARDING_DOWN_COMMAND=/bin/sh -c "echo > /tmp/gluetun/forwarded_port"

# --- VPN Provider Setup ---
# (Select your provider, type, and server)
#VPN_SERVICE_PROVIDER=protonvpn
VPN_SERVICE_PROVIDER=private internet access
SERVER_REGIONS=Iceland

# -----------------------------------------------------------------
# --- Provider Credentials ---
# (Only fill out ONE section below that matches your provider)
# -----------------------------------------------------------------

# --- Section 1: OpenVPN (e.g., PIA) ---
# (Active by default)
VPN_TYPE=openvpn
OPENVPN_USER=YourVpnUserHere
OPENVPN_PASSWORD=YourVpnPasswordHere

# -----------------------------------------------------------------
# --- Section 2: WireGuard (e.g., Mullvad) ---
# (To use this: comment out Section 1 and uncomment this section)
# -----------------------------------------------------------------
#VPN_TYPE=wireguard
#WIREGUARD_PRIVATE_KEY=YourMullvadPrivateKeyGoesHere
#WIREGUARD_ADDRESSES=YourMullvadWgAddressGoesHere
