# This is an example WireGuard config file. Rename this file to wg0.conf
 
# Paste your config from your VPN provider here.
# It should be named 'wg0.conf'
#
# [Interface]
# PrivateKey = ...
# Address = ...
# DNS = ...
#
# [Peer]
# PublicKey = ...
# PresharedKey = ...
# Endpoint = ...
# AllowedIPs = ...
